# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
ExamApplication/.vs/ExamApplication/v15/Server/sqlite3/storage.ide-shm
ExamApplication/.vs/ExamApplication/v15/Server/sqlite3/storage.ide-wal
ExamApplication/.vs/config/applicationhost.config
ExamApplication/ExamApplication/obj/Debug/ExamApplication.csproj.CoreCompileInputs.cache
ExamApplication/ExamApplication/obj/Debug/ExamApplication.csprojAssemblyReference.cache
ExamApplication/.vs/ExamApplication/v15/Server/sqlite3/storage.ide
